<div class="center">
  <h1>{{ 'ACCOUNTS' | translate }}</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Header -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'ACCOUNT_NAME' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="cathegory">
      <th mat-header-cell *matHeaderCellDef>{{ 'ACCOUNT_CATEGORY' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef>{{ 'ACCOUNT_TAGS' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.tags }}</td>
    </ng-container>
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>{{ 'ACCOUNT_BALANCE' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.balance }}</td>
    </ng-container>
    <ng-container matColumnDef="aviableBalance">
      <th mat-header-cell *matHeaderCellDef>{{ 'ACCOUNT_AVIABLE_BALANCE' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.aviableBalance }}</td>
    </ng-container>
    <!-- End Header -->
  
    <!-- Body -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- End Body -->
  </table>
</div>
